.DS_Store
Thumbs.db
*.swp
*.swo

dist/
dist-newstyle/
.stack-work/
*.hi
*.o
.cabal-sandbox/
cabal.project.local
*.prof
*.hp
*.eventlog

/target/
**/*.rs.bk

Cargo.lock

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
.eggs/
.build/
build/
*.manifest
*.spec
*.log

venv/
.env/
.venv/
env/
ENV/

.ipynb_checkpoints/

*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.a
*.lib

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.dir/

*.nb~
*.mx
*.ma
